:root {
	--fs-xl: 6rem;
	--fs-lg: 4rem;
	--fs-md: 3rem;
	--fs-sm: 2rem;
	--gold: #d0a34b;
	--blue: #0c2f51;
}

.desktop {
	display: block;
}
.mobile {
	display: none;
}

@media screen and (max-width: 1300px) {
	:root {
		/* --fs-lg: 3rem; */
		--fs-md: 2.5rem;
		/* --fs-sm: 1rem; */
	}
	.desktop {
		display: block;
	}
	.mobile {
		display: none;
	}
}

@media screen and (max-width: 1110px) {
	:root {
		--fs-lg: 3.5rem;
		--fs-md: 2rem;
		/* --fs-lg: 1.75rem; */
	}
	.desktop {
		display: block;
	}
	.mobile {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	:root {
		--fs-lg: 3rem;
		--fs-md: 1.5rem;
		--fs-sm: 1.5rem;
	}
	.desktop {
		display: block;
	}
	.mobile {
		display: none;
	}
}

@media screen and (max-width: 550px) {
	:root {
		--fs-lg: 2.5rem;
		--fs-md: 1rem;
	}
	.desktop {
		display: block;
	}
	.mobile {
		display: none;
	}
}

@media screen and (max-width: 450px) {
	:root {
		--fs-lg: 2.25rem;
		--fs-md: 1.75rem;
	}

	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
}

@media screen and (max-width: 380px) {
	:root {
		--fs-lg: 2rem;
		--fs-md: 1.5rem;
	}
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
}

@media screen and (max-width: 325px) {
	:root {
		--fs-lg: 1.75rem;
		--fs-md: 1.25rem;
	}
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
}

@font-face {
	font-family: Precious;
	src: url("/static/fonts/Precious.ttf");
}

@font-face {
	font-family: Blacksword;
	src: url("/static/fonts/Blacksword.otf");
}

* {
	margin: 0;
	padding: 0;
}
body,
html {
	margin: 0;
	padding: 0;
	/* font-size: 100%; */
}
body {
	padding-top: constant(safe-area-inset-top);
	padding-top: env(safe-area-inset-top);
}

#scroll-container {
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory; /* vertical snapping */
	height: 100vh;
	height: 100dvh;
	overflow: auto;
}

.page {
	scroll-snap-align: start; /* align to the start of the container */
	display: flex;
	width: 100%;
	width: -moz-available; /* WebKit-based browsers will ignore this. */
	width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
	width: fill-available;
	flex-direction: column;
	position: relative;
	text-align: center;
	justify-content: center;
	height: 100%;
	height: -moz-available; /* WebKit-based browsers will ignore this. */
	height: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
	height: fill-available;
}

.landing-image {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
}

#landing-gradient {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	background: linear-gradient(to bottom, rgba(12, 47, 81, 0) 0%, rgb(12, 47, 81, 1) 70%, rgb(12, 47, 81, 1) 100%);
	z-index: 3;
	animation: gradientAnimation 5s ease-in-out infinite;
}

@keyframes gradientAnimation {
	0%,
	100% {
		height: 100%;
	}
	50% {
		height: 80%; /* Increase the height */
	}
}

#landing-content {
	z-index: 4;
	width: 50vw;
	padding-left: 10px;
	padding-right: 10px;
}
#additional-info {
	display: flex;
	flex-direction: column;
	z-index: 4;
	height: 100%;
	width: 50vw;
	font-family: Precious;
	color: var(--gold);
	justify-content: space-evenly;
	text-align: center;
}

#landingGroup {
	margin-top: auto;
	margin-bottom: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
#landing-header {
	font-family: Blacksword;
	text-align: center;
	text-wrap: balance;
	z-index: 4;
	padding-left: 2vw;
	margin-top: 5vh;
	margin-right: 2vw;
	color: var(--gold);
	text-shadow: 5px 5px 5px black;
}

.welcome-message {
	color: #fff;
	margin: 0 auto;
	text-wrap: balance;
	z-index: 4;
}

h2 {
	/* Couples Names */
	font-family: Blacksword;
	font-size: var(--fs-lg);
	color: #fff;
	text-shadow: 10px 10px 5px black;
}

h3 {
	/* Ampersand Symbol */
	font-family: Blacksword;
	font-size: var(--fs-md);
	color: #fff;
}

p {
	font-family: Blacksword;
	font-size: var(--fs-md);
	text-shadow: 5px 5px 5px black;
}

span {
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: var(--fs-md);
	/* color: var(--gold); */
	color: #fff;
	text-shadow: 5px 5px 5px black;
}

@keyframes bobbing {
	0%,
	100% {
		transform: scale(1, -1) translate(-50%, -10px);
	}
	50% {
		transform: scale(1, -1) translate(-50%, 10px);
	}
}

.downArrow {
	position: absolute;
	width: max-content;
	height: max-content;
	bottom: 20px;
	left: 50%;
	transform: scale(1, -1) translate(-50%, 0%);
	z-index: 4;
	animation: bobbing 2s infinite;
}

.downArrow::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		0deg,
		var(--gold),
		var(--gold),
		var(--gold),
		var(--gold),
		white,
		var(--gold),
		var(--gold),
		var(--gold),
		var(--gold)
	);
	background-size: 300% 300%;
	z-index: -1;
	animation: moveWave 2s infinite;
	mix-blend-mode: screen;
	-webkit-mask: url("/static/images/arrow.png") center / contain no-repeat;
	mask: url("/static/images/arrow.png") center / contain no-repeat;
}

.downArrow img {
	width: var(--fs-xl);
	position: relative;
	display: block;
	opacity: 0;
}

@keyframes moveWave {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 0% 90%;
	}
}

#carousel-container {
	z-index: 4;
	background-color: var(--blue);
}

.carousel {
	display: flex;
	position: relative;
	max-height: 80vh;
	justify-content: center;
	margin: auto;
	overflow: hidden;
}

.carousel-track {
	width: 100%;
	height: 90%;
}

.carousel-images {
	scroll-snap-type: x mandatory;
	display: flex;
	/* width: 100%; */
	height: 100%;
	padding-left: 100px;
	padding-right: 100px;
	overflow-x: scroll;
	scroll-behavior: smooth;
	/* scrollbar-width: none; */
}

.carousel-images img {
	scroll-snap-align: center;
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.carousel-images img:first-child {
	margin-left: calc(50% - 50px); /* Adjust as needed */
}

.carousel-images img:last-child {
	margin-right: calc(50% - 50px); /* Adjust as needed */
}

.carousel button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	cursor: pointer;
	padding: 10px;
	z-index: 100;
}

.carousel .prev {
	left: 10px;
}

.carousel .next {
	right: 10px;
}
